最大程度地利用HTTP协议规范

在设计Web API时，基于标准协议设计的API至少要比使用私有协议设计的API更容易理解，会减少使用时引入的bug。

## 正确的使用状态码

当API请求成功时，即服务端完成了客户端请求的处理时，才返回2字头的状态码；

当客户端请求不完备，导致服务端没有理解客户端的意图，或服务端虽然能理解客户端的请求但无法处理时，则会返回4字头的状态码；

当服务器出错时，和普通的Web应用一样返回500状态码；

当服务器端因维护或某种原因停止运行时，返回503状态码。

在重定向或执行有附加条件的GET请求时，使用3字头的状态码

### 2字头状态码

200

201状态码表示“Created”，当在服务器端创建数据成功时，会返回201状态码。

202状态码表示“Accepted”，在异步处理客户端请求时，它用来表示服务器端已接受了来自客户端的请求，但处理尚未结束。

如用Box的API下载文件时，如果文件尚未准备好，服务端就会返回202状态码，除此之外，还会在响应消息的Retry-After首部里写入处理完成所需的时间，该时间以秒为单位。

```
HTTP/1.1 202 Accepted
Date: Sat,23 Nov 2013 10:00:32 GMT
Content-Type: text/html; charset=Utf-8
Connetion: keep-alive
Cache-control: no-cache, no-store
Retry-After: 100
Content-Length: 0
```

204状态码表示“No Content”，当响应消息为空时会返回该状态码，在用DELETE方法删除数据时，服务端通常会返回204状态码。

### 3字头状态码
3字头状态码最常用来描述重定向操作。

```
HTTP/1.1 302 Found
Date: Sat,23 Nov 2013 12.25:32 GMT
Content-Type: text/plain
Content-Length: 41
Location: http://example.com
302 Found
```

在定义HTTP1.1的RFC2068中，301 表示请求内容已从当前位置移动到其他地方。302 表示请求内容只是临时移动到其他地方。而且不会在访问重定向的URI时发生变化（比如使用POST方法的话，在重定向后依然会使用POST方法来访问重定向的地址）然而大部分浏览器采用了和协议相反的设计，用GET方法来访问重定向后的地址。

303表示无论重定向之前使用什么HTTP方法访问，都允许在请求完成后用GET方法继续访问

307和308是严格版的301和302，307和308不允许任何HTTP方法在访问过程中发生变更

### 4字头状态码：当客户端请求发生问题时

400(Bad Request)状态码，表示“其他错误”的意思，即其他所有的4字头状态码都无法描述的错误类型

401(Unauthorized）认证类型的错误。（我不知道你是谁）

403(Forbidden) 赋予特定用户执行特定操作的权限（虽然我知道你是谁，但你没有执行该操作的权限）

404(Not Found)

### 5字头状态码：当服务器端发生问题时

503错误，表示服务器当前处于不可用的状态。


## 缓存

```
Expires: Fri, 01 JAN 2016 00:00:00 GMT
Cache-Control: max-age=3600
```
Expires 使用绝对时间表示

Cache-Control 表示从当前时刻开始经过的秒数

根据HTTP1.1规定，不允许设置超过1年的日期，同时使用 Expires 和 Cache-Control 时，将优先使用新制定的协议规范里所定义的 Cache-Control 。

#### HTTP首部中能使用的日期格式（HTTP1.1）

|格式名称|示例|
|---|---|
|RFC 822 ,updated by RFC 6854| Sun, 06 NOV 1994 08:49:37 GMT|
|RFC 850, obsoleted by RFC 1036 |Sunday, 06-Nov-94 08:49:37 GMT|
|ANSI C's asctime() format |Sun Nov 6 08:49:37 1994|

除了以上格式之外，还可以制定为Delta Seconds（从某个基准时间开始的秒数），但表示绝对时间时只能使用上面这几种类型。

### 验证模型 

在执行过期模型时，需要应用程序服务器支持附带条件请求。

附带条件的请求是指客户端发送同“过去某个时间点所获得的数据”有关的谢谢，随后只有服务器端的数据发生了更新时，服务器端，才会返回更新的数据。不然就只会返回304(Not Modified)状态码来告知客户端当前服务器端没有更新数据。

进行附加条件的请求，就必须向服务器传达“客户端当前保存的信息的状态”为此需要用到最后更新日期或实体标签（Entity Tag）作为指标

最后更新日期和实体标签会被分别填充在Last-Modified和Etag响应消息首部返回客户端。

```
Last-Modified: Tue, 01 Jul 2014 00:00:00 GMT
ETag: "ff39b31e2855"
```

ETag可以是由双引号包围的任意字符串。如何生成取决于服务端的实现。

客户端使用最后更新日期执行附带条件会用到 `Modified-Since` 首部，使用实体标签时，会用到 `If-None-Match` 首部。

```
GET /v1/users/12345
If-Modified-Since: Tue, 01 Jul 2014 00:00:00 GMT

GET /v1/users/12345
Modified-Since: "ff39b31e2855"
```

在HTTP协议中，ETag有强验证和弱验证两个概念。

1. 执行强验证的ETag
    ETag: "ff39b31e2855"

2. 执行弱验证
    Etag: W/"ff39b31e2855"

强验证指服务端同客户端的数据不能有一个字节的差别，必须完全一样。弱验证是指即使数据不完全一致，只要从资源意义的角度来看没有发生变化，就可以视为相同的数据

### 不希望实施缓存的情况

```
Cache-Control: no-cache
```
或在Expires首部中写入过去的日期或不正确的日期格式（比如-1）

### 使用Vary来指定缓存单位

在实施缓存时，Vary用于指定除URI外使用哪个请求首部项目来确定唯一的数据。因为某些情况下，即使URI相同，获取数据有时也会因请求首部内容的不同而发生变化。

HTTP协议中有一种机制，根据由Accept开始的一系列请求首部值不同，响应消息的内容也会发生变化。（称为：服务器驱动的内容协商）

比如API可以通过支持Accept-Language首部来指定客户端接受的自然语言。

```
Accept-Language: zh
```

在这种情况下，虽然URI相同，但根据Accept-Language值的不同，所返回的数据内容也有所不同，因此如果只看URI信息来实施缓存，会导致无法得到原本想要获取的数据。

这时可以可以在Vary首部来判断哪个请求首部需要实施缓存操作。

```
Vary: Accept-Language
```

通常在Vary首部，还会包括User-Agent首部

```
Vary:Accept-Language,User-Agent,Accept-Language
```

### Cache-Control首部

```
Cache-Control: public, max-age=3600
```

缓存操作指令及其含义

|指令名称|含义|
|---|---|
|public|代理服务器处保存的缓存可以在不同用户之间共享|
|private|每个用户的缓存数据必须各不相同|
|no-cache|缓存数据需要通过验证模型来确认|
|no-store|不要进行缓存|
|no-transform|代理服务器不可变更响应的媒体类型和其他相关的内容|
|must-revalidate|不管何时都需要向原始服务器进行再次验证|
|proxy-revalidate|代理服务器需要向原始服务器进行再次验证|
|max-age|表示缓存数据处于新鲜状态的时间|
|s-maxage|和max-age一样，但只用于中继服务器|

## 媒体类型的指定

HTTP协议必须指定媒体类型来描述请求消息和响应消息里所承载的数据形式。

在响应消息里，使用名为Content-Type的首部来指明媒体类型，

```
Content-Type: application/json
Content-Type: image/png
```

媒体类型又称为MIME类型，完整的列表，可以查看IANA 提供的权威数据列表[Media-types](https://www.iana.org/assignments/media-types/media-types.xhtml)

使用Content-Type首部指定媒体类型非常重要。大多数客户端都会通过Content-Type首部的值来判断数据格式，如果首部的值发生错误，会导致客户端无法正确读取API返回的数据


### 请求数据与媒体类型

- Content-Type
- Accept

Content-Type 首部和响应消息首部一样，表示请求体以怎样的数据格式发送给服务器端，

Accept 首部用于客户端向服务器端表明客户端能接收怎样的媒体类型。

- 在客户端发送POST请求时，如果以JSON的形式发送数据，就应该在首部指定 `application/json` 
- 如果时从Web页面发送表单数据，就会使用 `application/x-www-form-urlencoded` 
- 在表单POST操作时，如遇到添加文件或，或者同时存在多个数据，要在 `Content-Type` 中指定`multipart/form-data`

### 同源策略和跨域资源共享(CORS)

#### CORS 的基本交互
当实施CORS时，客户端首先要发送一个名为Origin的请求消息首部，用来指定源。如从`http://www.example.com/` 访问 `http://api.example.com/` 时，Origin要指定 `http://www.example.com`

```
Origin:http://www.example.com
```

服务端保存着允许访问的源清单，当客户端发送过来含有Origin首部的信息时，服务器端会检查其中的源是否在清单中，如果不在，就会禁止来自该源的访问，自己向客户端返回403错误信息；如果在，服务端就会在Access-Control-Allow-Origin响应消息首部里放入和请求消息的Origin首部相同的源并返回，表示允许访问。

```
Access-Control-Allow-Origin: http://www.example.com
```

如果从安全性的角度来说所访问的资源被任何页面读取没有问题，就会在 `Access-Control-Allow-Origin` 首部里放入 *，表示无论从哪都能读取该资源。

```
Access-Control-Allow-Origin: *
```

### 事先请求
CORS定义了名为事先请求（Pre-flight Request)的方法来向特定的服务器进行询问。具体来说，就是在跨域请求之前，先性查询是否能被接收。在下面几个场景中，都需要事先请求。

- 所使用的HTTP方法不是Simple Methods（HEAD/GET/POST）
- 发送时没有带下面这些首部
    - Accept 
    - Accept-Language
    - Content-Language
    - Contnent-Type
- Content-Type 首部没有使用下面这些媒体类型
    - application/x-www-form-urlencoded
    - multipart/form-data
    - text/plain

事先请求机制使用OPTION方法来发送请求。

```
OPTION /v1/users/1234 HTTP/1.1
Host: api.example.com
Accept: application/json
Origin: http://www.example.com
Access-Control-Request-Method: GET
Access-Control-Request-Headers: X-RequestId
```

服务端会判断是否能接收这样的请求，如果可以，则会返回200状态码，并返回如下所示的响应消息。

```
HTTP/1.1 200 OK
Date: Mon, 01 Dec 2008 01:15:39 GMT
Access-Control-Allow-Origin: http://www.example.com
Access-Control-Allow-Methods: GET, OPTIONS
Access-Control-Allow-Headers:X-RequestId
Access-Control-Max-Age:864000
Content-Length: 0
Content-Type: text/plain
```

- 通过 `Access-Control-Allow-Methods` 指定允许的方法清单
- 通过 `Access-Control-Allow-Headers` 指定允许的首部清单
- 通过 `Access-Control-Max-Age` 指定该事先请求的信息在缓存中保存的时间

### CORS与用户认证信息
CROS中发送用户认证信息（Credential）时，必须发布追加的HTTP响应的消息首部，例如当客户端使用Cookie首部、Authentication首部发送用户认证信息时，服务器端需要像下面这样将Access-Control-Allow-Credentials首部设置为true，来告知客户端“已识别所发送的认证信息”。

```
Access-Control-Allow-Credentials: true
```

如果不这样做，浏览器就会直接拒绝来自服务端的响应消息
